.aboutME {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 50px;
}

.aboutME_text {
	margin-right: 120px;
}

.aboutME_text p {
	line-height: 23px;
	font-size: 1.1em;
}

.aboutME img {
	width: 550px;
}