.contact {
	text-align: center;
}

/*#contact_title {
	padding: 0 0 5px 40px;
}

.social_media {
	text-align: center;
}

.redes {
	display: inline-block;
	margin-top: 40px;
}

#email {
	position: absolute;
	left:1%;
}

#whatsapp {
	position: absolute;
	left: 0;
	right: 0;
}

#instagram {
	position: absolute;
	right: 9%;
}
.redes img {
	height: 38px;
	transition: .3s
}

.redes img:hover {
	height: 40px;
}
*/

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.contact_container {
	border: 1px solid blue;
	display: flex;
	width: 60%;
	height: 550px;
}

.msg {
	border: 1px solid red;
	width: 65%;
}

.msg input, textarea{
	display: block;
	border: none;
	outline: none;
}

form {
	border: 1px solid yellow;
}

.msg input [name="name"],
	input [name="email"] {
		

	}
