@import url("normalize/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* SECTIONS */
@import url("aboutme.css");
@import url("techs.css");
@import url("works.css");
@import url("contact.css");


* {
    font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #dedddd;
	height: 100%;
	margin: 0;
}

/* NAVBAR */
.navbar {
	z-index: 999;
	background-color: #599ED7;
	position: fixed;
	width: 100%;
	top: 0;
	text-align: left;
	box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2)
}

.navbar a {
	font-size: 16px;	
	margin: 7px 10px 7px 10px;
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	text-align: center;
 	transition: .3s;
}

.navbar a:hover {
	background-color: #dedddd;
	color: black;
}

/* PORTADA */
.portada {
	position: relative;
	background-color: #599ED7;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 8px solid #3c93da;
}

.portada img {
	padding: 80px 100px;
	width: 300px;
}

.portada_title {
	margin-left: 8em;
	color: white;
}

.portada_title h1{
	font-size: 3.5em;
	margin-bottom: 0 !important;
	letter-spacing: 5px;
}

.portada_title h2{
	color:black;
	background-color: white;
	padding: 5px;
	font-size: 2.4em;
	float: right;
	letter-spacing: 5px;
	margin-bottom: 0 !important;
}


/* SECTION */
.name_section{
	display: inline-block;
	padding: 0 40px 5px 0;
	border-bottom: 3px solid #599ED7;
}

	.categories {
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		width: 65%;
	}

section {
	margin-bottom: 6em;
}

/* FOOTER */

